@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply text-gray-800 bg-gray-50;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-primary;
}
